{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

{% load static %}
<div class="d-flex justify-content-center">
    <div class="card w-90 m-5">
        <div class="card-header">
            New Blog Post
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="fieldWrapper mb-3">
                    {{ form.title|as_crispy_field }}
                </div>
                <div class="fieldWrapper mb-3" style="width: 300px;">
                    {{ form.body|as_crispy_field }}
                </div>
                <div class="justify-content-center">
                    <button class="btn btn-outline-success" type="submit">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}