{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

{% load static %}
<div class="p-4 h-auto">
    <div class="w-100 px-4">
        <p class="display-4">{{ post.title }}</p>
        <p class="display-8">By: {{ post.author.first_name }} {{ post.author.last_name }}</p>
        <p class="display-8">Date: {{ post.create_date }}</p>
    </div>
    <div class="bg-white h-100 p-4">`
        <p> {{ post.body|linebreaksbr }}</p>
    </div>
    <div class="p-4">
        <p class="display-6">Comments</p>

        {% if user.is_authenticated %}
        <div class="d-flex justify-content-center">
            <div class="card w-100 my-2">
                <div class="card-header">
                    New Comment
                </div>
                <div class="card-body w-100">
                    <form class="w-100" method="POST">
                        {% csrf_token %}
                        <div class="fieldWrapper mb-3 w-100">
                            <input type="text" name="body" maxlength="300" required id="id_body" class="w-100">
                        </div>
                        <div class="justify-content-center">
                            <button class="btn btn-outline-success" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
        <div class="d-flex">
                <p class="display-8">Login/Register to comment on this post.</p>
        </div>
        {% endif %}

        {% for comment in comments %}
        <div class="border d-flex flex-row bg-white">
            <div class="w-100">
                <div class="d-flex align-items-center">
                    <p class="p-2 m-0">{{ comment.body }}</p>
                </div>
                <p class="text-truncate px-2 text-muted">{{ comment.author.first_name }} {{ comment.author.last_name }},
                    {{comment.create_date }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}