.nav-main {
    background-color: #875A7B;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%)
}

.nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.text-gray {
    color: rgba(0, 0, 0, 0.5);
}

.bg-dark-gray {
    background-color: #e9ecef;
}

.text-right {
    text-align: right;
}

.w-10 {
    width: 10%;
}

.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

.w-90 {
    width: 90%;
}

.icon {
    float: left;
}

.heading img {
    margin-right:10px;
}
.heading h1, .heading img {
    display:inline-block;
    vertical-align:middle;
}

.h-20 {
    height: 20%;
}

.display-8 {
    font-weight: 300;
    line-height: 1.2;
    font-size: 1.5rem;
}

.align-text-center {
    text-align: center;
}

.link {
    text-decoration: underline;
    color: gray;
}

.link:hover {
color: darkgray;
}

.float-right {
    float: right;
}