{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="">
    <h1 class="px-4 text-gray display-4">Collaborate with Others</h1>
    <h4 class="p-4 text-gray display-8">
        Welcome to our community. Find resources to help you troubleshoot issues, understand functionality, and make the
        most of your Odoo experience.
    </h4>
</div>

<div class="card h-auto pb-4">
    <h1 class="px-4 py-2 display-4">Recent Posts</h1>
    <div class="h-auto">
        {% for post in recent_posts %}
            {% include "main/elements/blog_preview.html" with post=post %}
        {% endfor %}
    </div>

</div>

{% endblock %}