{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

{% load static %}

<div class="d-flex justify-content-center">
    <div class="card m-5">
      <div class="card-header">
        Login to your account
      </div>
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          <div class="fieldWrapper mb-3">
              {{ login_form.username|as_crispy_field }}
          </div>
          <div class="fieldWrapper mb-3">
              {{ login_form.password|as_crispy_field }}
          </div>
          <div class="justify-content-center">
              <button class="btn btn-secondary" type="submit">Login</button>
          </div>
      </form>
        <p class="text-center">Don't have an account? <a href="{{ url }}/main/register" class="link">Create an account</a>.</p>
      </div>
    </div>
  </div>

{% endblock %}
