{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

{% load static %}
<div class="d-flex justify-content-center">
    <div class="card w-50 m-5">
        <div class="card-header">
            Create Account 
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="fieldWrapper mb-3">
                    {{ register_form.first_name|as_crispy_field }}
                </div>
                <div class="fieldWrapper mb-3">
                    {{ register_form.last_name|as_crispy_field }}
                </div>
                <div class="fieldWrapper mb-3">
                    {{ register_form.username|as_crispy_field }}
                </div>
                <div class="fieldWrapper mb-3">
                    {{ register_form.password1|as_crispy_field }}
                </div>
                <div class="fieldWrapper mb-3">
                    {{ register_form.password2|as_crispy_field }}
                </div>
                <div class="justify-content-center">
                    <button class="btn btn-secondary" type="submit">Register</button>
                </div>
            </form>
            
            <p class="text-center">If you already have an account, <a href="/main/login" class="link">login</a> instead.</p>
        </div>
    </div>
</div>

{% endblock %}
